


    <div class="container">
      <img
      mat-card-image
      class="imgs"
      src="https://media-exp1.licdn.com/dms/image/C4E03AQF887Drlc8zlA/profile-displayphoto-shrink_200_200/0/1614753886064?e=1640217600&v=beta&t=m8exz7HOUbitlzwSOVClRRnoLlacUPIku94Hud00ueM"
      alt="image"
    />
    <div class="post__headerText">
           <h3>
        <p [ngStyle]= "{ color: checkSelected(selectedUser, user) }" *ngFor='let user of users'>
          <span className="post__headerSpecial">  <b>  {{user.name}} </b> 	<mat-icon class="ckeck_list">beenhere</mat-icon>
            @{{user.username}}
          </span>

        </p>
      </h3>
    </div>

    </div>
