
.imgs {
  height: 50px;
  width: 50px;
  border-radius: 60%;
}

.post__headerText  > h3{
  font-size: 15px;
  margin-bottom: 5px;
}
.ckeck_list {
  color: #50b7f5;
font-size: 15px;
margin-left: 5px;
padding-top: 5px;
}
.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

