.mainContainer {
  display: flex;
}


.user-follower {
margin-left: 20px;
font-weight: 700;
color: #000;
}
.container {
 padding-top: 30px;

}
.following {
  color: gray;
  cursor: pointer;
  padding-left: 3px;
}
