input
  {
    padding: 14px;
    padding-left: 130px;
    margin: 5px;
    border-radius: 20px;
    border: none;
  }
form {
  margin: 20px;

}
.form-box{
  background-color:#50b7f5;
// padding: 170px;
padding-left: 300px;
}

button {
  padding: 15px;
   padding-left: 130px;
   padding-right: 130px;
   text-align: center;
   border-radius: 20px;
   border: none;
   margin: 10px;
   margin-top: 40px;
   cursor: pointer;
}
img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 10px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.signIn {
  color: #50b7f5;
  cursor: pointer;
}
.wrapper-signin {
  padding-left: 330px;
}
