<div class="form-box">
  <img src="https://cdn-icons-png.flaticon.com/512/124/124021.png"/>
  <form [formGroup] = 'addUser'>
    <input type="text" formControlName='name' placeholder="name"> <br>
    <input type="text" formControlName='username' placeholder="username"><br>
    <input type="text" formControlName='email' placeholder="email"><br>
    <input type="text" formControlName='password' placeholder="password"><br>
    <button (click)='postUser(selectedUser)' [disabled]='addUser.invalid'(click)="signin()">{{(selectedUser) ? 'Update User' : 'Sign up'}}</button>
     <!-- <button (click)="signin()">Sign in</button> -->
  </form>

</div>
<div class="wrapper-signin">

<span>
  Already have an account? <span class="signIn" (click)="signin()">Signin</span>
</span>

</div>
